body {
  font-family: "MyFont", 'Times New Roman', serif;
  margin: 0px;
  background-color: rgb(250, 250, 252)
}

.controls {
  margin-bottom: 5px;
}

.layout {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 0px;
  line-height: 1.35;
}

.description {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: rgb(31, 31, 67);
  color: white;

  display: flex;
  flex-direction: column;

  padding: 10px;
  box-sizing: border-box;
}

.description-content {
  overflow-y: auto;
  flex: 1 1 auto;
  padding-right: 5px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.description-content::-webkit-scrollbar {
  display: none;          
}

.description-footer {
  margin-top: auto; 
  padding-top: 20px;
  text-align: center;
  line-height: 1.2;
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr minmax(150px, 450px);
  height:fit-content
}

.header {
  background-color: rgb(31, 31, 67);
  color:white;
  position: sticky;
  top: 0;
  font-weight: bold;
  padding: 20px;
  z-index: 1;
}
.header .underline-on-hover:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 4px; 
  cursor: pointer;
}

.cell {
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;   
  text-align: center;
  background-color: rgb(250, 250, 252);
}


.cell.image {
  align-items: stretch;
}

.cell.image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: contain;
  display: block;
}
